*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Times New Roman', Times, serif;
}
nav{
    background: rgb(42, 106, 218);
    height: 80px;
    width: 100%;
}
.clogo{
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-size: 45px;
    line-height: 70px;
    padding: 10%;
    font-weight: bolder;
}
nav ul{
    float: right;
    margin-right: 20px;
}
nav ul li{
    display:inline-block;
    line-height: 80px;
    margin: 0 5px;
}
nav ul li a{
    color: aliceblue;
    font-size: 20px;
    padding: 5px 10px;
    text-transform: uppercase;
}
.container{
    max-width: 2000px !important;
}
.row{
    display:flex ;
    flex-wrap: wrap;
}
ul{
    list-style: none;
}
.footer{
    text-shadow: 10px;
    background-color: rgb(42, 106, 218);
}
.footer-col{
    width: 30%;
    padding: 5px;
    font-weight: 100;
}
h1{
    font-size: larger;
}
footer ul li a{
    color: aliceblue;
    font-size: 20px;
}

